.Marks {
    padding: 70px 0;
    .panel-marks {
        h2 {
            font-size: 30px;
            line-height: 45px;
            font-weight: 700;
            color: #F71963;
            text-align: center;
        }

        .slick-slider .slick-track, .slick-slider .slick-list {
            margin: 15px 0;
            margin-left: 15px;
        }

        .slick-next:before {
            content:url("./images/next.png") !important;
        }
        .slick-prev:before {
            content:url("./images/prev.png") !important;
        }


        .content {
            a {
                text-decoration: none;
                color: transparent;
                .item {
                    box-shadow: 0px 7px 20px 0px #00000021;
                    width: 211px;
                    height: 211px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
            }
        }
    }
}