.Products {
    padding: 50px 0;

    .category {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
       a {
        text-decoration: none;
        color: transparent;
        min-width: 128px;
        .item {
            .image {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 128px;
                height: 128px;
                background-color: #F4F4F4;
                box-shadow: 0px 4px 11px 0px #00000021;
            }

            p {
                padding-top: 20px;
                font-size: 16px;
                line-height: 24px;
                font-weight: 500;
                color: #4E4E4E;
                text-align: center;
            }
        }
       }
    }

    .slideproducts {
        padding: 50px 0;

        h2 {
            position: relative;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            color: #F71963;
            text-align: center;

            &::before {
                content: "";
                border: solid 1px #DEDEDE;
                position: absolute;
                top: 50%;
                left: 3%;
                width: 30%;
            }

            &::after {
                content: "";
                border: solid 1px #DEDEDE;
                position: absolute;
                top: 50%;
                right: 3%;
                width: 30%;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            padding: 15px 0;
            li {
                list-style: none;
                display: flex;
                list-style: none;
                justify-content: center;
                width: 16%;
                border: 1px solid #BDBDBD;
                align-items: center;
                padding: 10px;
                a {
                    text-transform: uppercase;
                    font-weight: 400;
                    color: #3B3B3B;
                    font-size: 16px;
                    line-height: 16px;
                    text-decoration: none;
                }
            }
        }

        .slick-next:before {
            content:url("./images/next.png") !important;
        }
        .slick-prev:before {
            content:url("./images/prev.png") !important;
        }

        .slick-slider .slick-track, .slick-slider .slick-list {
            margin: 15px 0;
            margin-left: 15px;
        }

        .slide-panel {
            width: 100%;
            background-color: #fff;
            box-shadow: 0px 3px 19px 0px #00000038;
            border-radius: 10px;
            max-width: 270px !important;

            .image {
                img {
                    margin: 0 auto;
                    max-width: 100%;
                }
            }

            .content {
                padding: 15px;
                display: flex;
                flex-direction: column;
                p {
                    line-height: 22px;
                    font-size: 15px;
                    font-weight: 300;
                    color: #3F3F40;
                    padding-bottom: 10px;
                }

                h4 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #808080;
                    padding-bottom: 2px;
                }

                h3 {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 30px;
                    color: #3F3F40;
                    padding-bottom: 2px;
                }

                span {
                    font-size: 12px;
                    color: #3F3F40;
                    font-weight: 400;
                    line-height: 18px;                    
                }

                .frete {
                    color: #F71963 !important;
                }

                button {
                    width: 100%;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 700;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    line-height: 21px;
                    background: #F71963;
                    border-radius: 4px;
                    height: 44px;
                    margin-top: 15px;
                    outline: 0;
                    border: 0;
                    cursor: pointer;
                }
            }
        }
    }
}