.Title {
    padding: 50px 0;

    .panel-title {
        h2 {
            position: relative;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            color: #F71963;
            text-align: center;

            &::before {
                content: "";
                border: solid 1px #DEDEDE;
                position: absolute;
                top: 50%;
                left: 3%;
                width: 30%;
            }

            &::after {
                content: "";
                border: solid 1px #DEDEDE;
                position: absolute;
                top: 50%;
                right: 3%;
                width: 30%;
            }
        }

        a {
            display: block;
            color: #3F3F40;
            margin: 0 auto;
            text-align: center;
            text-decoration: none;
            font-weight: 700;
            font-size: 15px;
            line-height: 22px;
        }
    }
}